---
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: placeholder image 2
    title: Placeholder Image Left Aligned
    excerpt: This is some sample content that goes here with **Markdown**
      formatting. Left aligned with `type="left"`
    url: "#test-link"
    btn_label: Read More
    btn_class: btn--primary
excerpt: We exist to save lives and improve search and rescue practices with our
  Oregon County Sheriff offices, volunteer rescue teams, and other
  collaborators.
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: placeholder image 2
    title: Placeholder Image Right Aligned
    excerpt: This is some sample content that goes here with **Markdown**
      formatting. Right aligned with `type="right"`
    url: "#test-link"
    btn_label: Read More
    btn_class: btn--primary
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: placeholder image 2
    title: Placeholder Image Center Aligned
    excerpt: This is some sample content that goes here with **Markdown**
      formatting. Centered with `type="center"`
    url: "#test-link"
    btn_label: Read More
    btn_class: btn--primary
layout: splash
intro:
  - excerpt: The Mt. Hood SAR Council analyzes each month the missions we respond to
      and captures and develops best practices we can use to make future
      missions more efficient, safe, and successful. We also provide training,
      medical insurance, and equipment to provide the best possible response to
      search and rescue missions in our region and beyond.
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/sar-hero.jpg
  caption: null
feature_row:
  - image_path: /assets/images/sar-feature-2.jpg
    alt: Several search and rescue volunteers, mostly wearing orange and blue,
      gathered together on a campground road in the forest
    title: Who we are
    excerpt: The Mt. Hood SAR Council is comprised of several Oregon County Sheriff
      offices, volunteer rescue teams and other collaborators that together
      serve in region two as defined by the Oregon State Sheriffs' Association.
      By Oregon law, each county Sheriff is responsible for SAR activities
      within their respective jurisdictions.
  - image_path: /assets/images/sar-feature-1.jpg
    image_caption: null
    alt: Search and rescue volunteers wearing orange shirts in the forest with a
      blue tarp shelter in the foreground with people underneath
    title: What we do
    excerpt: The Mt. Hood SAR Council strives to capture best practices and lessons
      learned each month to make future missions more efficient, safe, and
      successful. We also provide training, medical insurance, and equipment to
      provide the best possible response to search and rescue missions in our
      region and beyond.
  - image_path: /assets/images/sar-feature-3.jpg
    image_caption: null
    alt: Search and rescue members wearing orange evacuating a person in a sked on a
      trail in the forest during a training
    title: Our mission
    excerpt: <p>Our organization exists to save lives and improve search and rescue
      in our region through:</p><ul><li>The review of recent
      missions</li><li>Identifying, documenting and applying mission best
      practices</li><li>Equipping and training our members</li><li>Fostering
      teamwork, safety, communication, planning and cooperation among all member
      teams</li></ul>
author_profile: false
entries_layout: grid
---

{% comment %}{% include feature_row id="intro" type="center" %}{% endcomment %}

{% include feature_row %}

</section>

{% comment %}
  <!--Displays 5 most recent blog posts-->
  <h2>News</h2>
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign entries_layout = page.entries_layout %}
  <div class="entries-{{ entries_layout }}">
    {% for post in posts limit: 5 %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  </section>

  {% include paginator.html %}
{% endcomment %}

<!--Shows sponsors-->
<section class="cf">
<h2>Sponsors</h2>

<div class="feature__wrapper">
  {% for sponsor in site.data.sponsors.sponsor %}
    <div class="feature__item">
      <div class="archive__item">
        <div class="archive__item-teaser">
          <a href="{{ sponsor.link }}"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}"/></a>
        </div>   
        <div class="archive__item-body">
          <h3 class="archive__item-title">{{ sponsor.name | smartify }}</h3>
          <div class="archive__item-excerpt"></div>
        </div>     
      </div>
    </div> 
  {% endfor %} 
</div>

{% comment %}{% include feature_row id="feature_row2" type="left" %}{% endcomment %}

{% comment %}{% include feature_row id="feature_row3" type="right" %}{% endcomment %}

{% comment %}{% include feature_row id="feature_row4" type="center" %}{% endcomment %}
